
homework/.ipynb_checkpoints/Day_003_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_003-2_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_001_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_002_first_EDA-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_002_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_003-1_HW-checkpoint.ipynb
homework/data/application_train.csv
homework/Day_002_first_EDA.ipynb
homework/.ipynb_checkpoints/Day_004_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_005_HW-checkpoint.ipynb
homework/data/HomeCredit_columns_description.csv
homework/.ipynb_checkpoints/Day_008_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_009_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_011_HW-checkpoint.ipynb
